.crafting-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    padding: 1rem 1rem 0;
    flex-shrink: 0;

    box-sizing: border-box;
    width: fit-content;
}

.crafting-container ul {
    padding: 0 1rem 1.5rem 1rem;
    margin: 0;
}

.crafting-box {
    box-sizing: border-box;
    background-color: #363636;
    border: 2px solid #303030;
}

.crafting-container p {
    letter-spacing: 0.02rem;
    line-height: 1.5;
    margin: 0;
    padding: 0.5rem 1rem 1rem 0.5rem;
}

.crafting-area {
    display: grid;
    /* Elements in the document rely on the crafting area to position items on the website! */
    position: relative;
    /* Makes a rectangular grid to position the items in the crafting area! */
    aspect-ratio: 1 / 0.5;
    width: 416px;
}

.back {
    position: absolute;
    display: grid;
    grid-area: 1 / 1;
    width: 100%;
    z-index: 1;
    object-fit: contain;

    /* A rounded border around the crafting gui */
    background-color: #C6C6C6;

    outline: 4px solid #F9FAFB;
}

.front {
    position: absolute;
    display: grid;
    z-index: 2;

    /* Creates 3 equal columns and rows that scale with the container */
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    width: 47%;
    height: auto;

    padding-top: 2.25%;
    padding-left: 2.5%;

    box-sizing: border-box;
    gap: 0.05rem;
}

.slot {
    display: flex;
    aspect-ratio: 1 / 1;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
}

.crafting-item {
    width: 90%;
    image-rendering: pixelated;
}

.front-result {
    position: absolute;
    grid-area: 1 / auto;
    z-index: 2;

    width: 100%;
    height: 100%;
    pointer-events: none;
}

.result-item {
    position: absolute;
    left: 87%;
    top: 50%;
    width: 12%;

    aspect-ratio: 1 / 1;
    transform: translate(-50%, -50%);
    image-rendering: pixelated;
}

.result-count {
    position: absolute;
    left: 96%;
    top: 56%;
    width: 11%;
    height: auto;
    transform: translate(-50%, -50%);
}