html, body {
    background-color: #303030;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F5F5F5;
    min-height: 100vh;
    font-size: 1.125rem;

    scroll-behavior: smooth;
}

/* Styled links */
a { text-decoration: none; }
a:link { color: #73A5C6; }
a:visited { color: #8f82cb; }
a:active { color: #c673a5; }
a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.plushie-title {
    border-bottom: 1px solid #F5F5F5;
    padding-bottom: 0.5rem;
}

.collapsed {
    font-size: 1.5em;
    font-weight: bold;
}

.title-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.issues-title {
    text-align: center;
    font-size: 1.25rem;
}

.active-dev {
    border-left: 4px solid #6151b3;
    border-top: 1px solid #2d2654;
    border-right: 1px solid #2d2654;
    border-bottom: 1px solid #2d2654;
    background-color: #1a162b;
    color: #d1cbec;
    border-radius: 4px;
    padding: 12px 15px;
    margin: 15px 0;
    font-size: 14px;
    line-height: 1.5;
}

.active-dev-title {
    color: #fff;
    letter-spacing: 0.02rem;
}

.sub-title {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin: 0.5rem auto;
    padding: 0.5rem;

    font-weight: bold;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0.5rem;
    justify-content: center;
    margin: 0 auto;
}

#image-changer-panel {
    display: flex;
    flex-direction: column;
}

.menu-btn {
    font: inherit; /* Inherit the font size from the parents. */
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #F5F5F5;
    color: #F5F5F5;
    padding: 5px 10px;
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
}

.menu-btn:hover {
    border-bottom-color: #6151b3;
    transition: border-bottom-color 0.15s ease-out;
}

.selected {
    border-bottom-color: #6151b3;
    font-weight: bold;
}

.container {
    max-width: 90%;
    margin: 2.5rem auto;
    padding: 2.5rem;

    background-color: #404040;
    color: #F5F5F5;

    display: flex;
    justify-content: center;
    flex-direction: column;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

.main-container {
    border-radius: 0.5rem;
}

.credits-container {
    border: 2px solid black;
}

.top-content-wrapper {
    display: flex;
    justify-content: space-between;

    flex-direction: column-reverse;
    align-items: center; /* Center image on mobile */

    gap: 2.5rem;
    flex-shrink: 0;
}

.content-left {
    flex: 1; /* Space the items equally */
    min-width: 50%;
}

.main-img {
    display: block;
    margin: auto;
    width: 320px;

    image-rendering: pixelated;
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
}

.sidebar {
    display: block;
    height: auto;
    outline: 1px solid #3c2a68;
    background-color: #202020;
    padding: 1.5rem;

    width: 100%;
    flex-shrink: 0;
}

.table-container {
    padding-top: 1rem;
}

.info-table {
    outline: 2px solid #3c2a68;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: #202020;
}

.info-table tr:nth-child(even) {
    background-color: #303030;
}

.table-list {
    margin: 0;
    padding: 0;
    list-style: none; /* Removes bullet points */
}

.table-list li + li {
    margin-top: 4px; /* Adds spacing between items */
}

.info-header {
    background-color: #5c4595;
    text-align: center;
}

.table-item {
    padding: 0.5rem;
}

.table-note {
    font-family: sans-serif;
    font-size: 0.875rem;
    color: #a0a0a0;
    margin-top: 8px;
}

.note-title {
    color: #ffffff;
}

.note-text {
    font-weight: bold;
    color: #ff79c6;
}

.hero {
    border-radius: 1rem;
    border: 2px solid #202020;
    background-color: #303030;
    margin: 1rem;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

.img-desc {
    padding: 0.75rem;
    text-align: left;
}

.main-title {
    display: flex;
    justify-content: center;
    background-color: #5c4595;
    margin: 0.5rem auto;
    padding: 0.5rem;
    text-align: center;
    outline: 4px solid #3c2a68;
}

.tag-container {
    display: flex;
    flex-wrap: wrap; /* Wraps tags to next line if space is tight */
    gap: 8px;
    font-family: 'Courier New', monospace; /* Professional dev look */
}

.extra-gap {
    padding-top:1em;
}

.collapsed-container {
    background-color: #363636;
    border: 2px solid #303030;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
}

#go-to-top-btn {
    display: none;
    position: fixed;
    bottom: 1.25rem;
    right: 1.875rem;
    z-index: 99;
    outline: none;
    background-color: #202020;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s, opacity 0.3s;
    border: 2px solid black;
}

#go-to-top-btn:hover {
    background-color: #555;
}

.inline-display {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.pixelated-render {
    image-rendering: pixelated;
}

.inline-display .inline-render {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* General layout properties for inline renders */
    aspect-ratio: 1 / 1;
    width: 166px; /* Ensure that every render is a 166 pixel box */
    padding: 0.5rem;
    font-size: 1.5rem;
}

.inline-display .boxed-render {
    display: flex;
    outline: 1px solid #3c2a68;
    background-color: #202020;
    box-sizing: border-box;
}

.inline-render img {
    display: block;
    margin: 0 auto 0 auto;
    width: 150px;

    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.2));
}

.inline-render p, .inline-render a {
    text-align: center;
}

/* Normal / large phones */
@media (min-width: 360px) {
    .sidebar {
        width: 90%;
    }
}

/* Small tablets */
@media (min-width: 768px) {
    .sidebar {
        width: 70%;
    }
}

/* Desktops */
@media (min-width: 1280px) {
    html, body {
        font-size: 1rem;
    }

    #go-to-top-btn {
        font-size: inherit;
    }

    .menu-btn {
        font-size: 0.95rem;
    }

    .container {
        max-width: 62.5%;
    }

    .main-img {
        width: 160px;
    }

    body {
        font-size: 1rem;
    }

    .top-content-wrapper {
        flex-direction: row;
        align-items: flex-start;
        flex-shrink: 0;
    }

    .sidebar {
        width: 35%;
        min-width: 35%;
    }

    .inline-render img {
        width: 75px;
    }
}